[core]
	editor = nvim
	pager = less -F -x4

[init]
	defaultBranch = main

[color]
	ui = true

[alias]
	b = branch -v
	co = checkout
	cnb = checkout -b
	st = status -sb -uno
	rem = remote -v
	cm = commit
	cma = commit -a
	f = fetch
	fa = fetch -a
	unstage = reset HEAD --
	wsdiff = diff --color-moved-ws=ignore-space-change

	ls = log --date=short --pretty=format:"%C(4)%h\\ %C(6)%ad\\ %Creset%s%C(5)\\ [%an]%C(1)%d" --decorate --no-merges
	ll = log --date=short --pretty=format:"%C(4)%h\\ %C(6)%ad\\ %Creset%s%C(5)\\ [%an]%C(1)%d" --decorate --numstat --no-merges
	lsm = log --date=short --pretty=format:"%C(4)%h\\ %C(6)%ad\\ %Creset%s%C(5)\\ [%an]%C(1)%d" --decorate
	llm = log --date=short --pretty=format:"%C(4)%h\\ %C(6)%ad\\ %Creset%s%C(5)\\ [%an]%C(1)%d" --decorate --numstat

# individual command configs
[advice]
	detachedHead = false

[branch]
	sort = "-HEAD"

[checkout]
	defaultRemote = origin

[fetch]
	prune = true

[pull]
	ff = only

[color "branch"]
	current = 15 1
	remote = 15
	local = 1

[color "status"]
	nobranch = 15 1
	branch = 15 1
	added = 2
	changed = 4
	untracked = 3
