[alias]
  b = branch -v
  co = checkout
  cnb = checkout -b
  st = status
  cm = commit
  cma = commit -a
  f = fetch
  fa = fetch -a
  unstage = reset HEAD --
  dt = difftool

  ls = log --date=short --pretty=format:"%C(bold\\ blue)%h\\ %C(cyan)%ad%C(magenta)%d\\ %Creset%s%C(bold\\ red)\\ [%cn]" --decorate --no-merges
  ll = log --date=short --pretty=format:"%C(bold\\ blue)%h\\ %C(cyan)%ad%C(magenta)%d\\ %Creset%s%C(bold\\ red)\\ [%cn]" --decorate --numstat --no-merges
  lsm = log --date=short --pretty=format:"%C(bold\\ blue)%h\\ %C(cyan)%ad%C(magenta)%d\\ %Creset%s%C(bold\\ red)\\ [%cn]" --decorate
  llm = log --date=short --pretty=format:"%C(bold\\ blue)%h\\ %C(cyan)%ad%C(magenta)%d\\ %Creset%s%C(bold\\ red)\\ [%cn]" --decorate --numstat

[core]
  editor = code --wait --new-window

[diff]
  tool = default-difftool

[difftool "default-difftool"]
  cmd = code --wait --new-window --diff $LOCAL $REMOTE

[fetch]
  prune = true

[color]
  ui = true

[color "branch"]
  current = black magenta
  remote = magenta
  local = magenta

[color "status"]
  nobranch = black magenta
  branch = black magenta
  added = green
  changed = blue
  untracked = red
