[alias]
  b = branch -v
  co = checkout
  cnb = checkout -b
  st = status
  cm = commit
  cma = commit -a
  f = fetch
  fa = fetch -a
  unstage = reset HEAD --

  ls = log --date=short --pretty=format:"%C(bold\\ yellow)%h\\ %ad%C(bold\\ red)%d\\ %Creset%s%C(cyan)\\ [%cn]" --decorate --grep="Merge\\ pull\\ request" --invert-grep
  ll = log --date=short --pretty=format:"%C(bold\\ yellow)%h\\ %ad%C(bold\\ red)%d\\ %Creset%s%C(cyan)\\ [%cn]" --decorate --numstat --grep="Merge\\ pull\\ request" --invert-grep
  lsm = log --date=short --pretty=format:"%C(bold\\ yellow)%h\\ %ad%C(bold\\ red)%d\\ %Creset%s%C(cyan)\\ [%cn]" --decorate
  llm = log --date=short --pretty=format:"%C(bold\\ yellow)%h\\ %ad%C(bold\\ red)%d\\ %Creset%s%C(cyan)\\ [%cn]" --decorate --numstat

[core]
  autocrlf = true
  editor = code --wait --new-window

[diff]
  tool = default-difftool

[difftool "default-difftool"]
  cmd = code --wait --diff $LOCAL $REMOTE

[fetch]
  prune = true

[color]
  ui = auto

[color "branch"]
  current = white green
  remote = red bold

[color "status"]
  nobranch = yellow
  branch = white green
  changed = dim yellow
  untracked = bold red
