[alias]
  b = branch -v
  co = checkout
  cnb = checkout -b
  st = status
  rem = remote -v
  cm = commit
  cma = commit -a
  f = fetch
  fa = fetch -a
  unstage = reset HEAD --
  dt = difftool

  ls = log --date=short --pretty=format:"%C(12)%h\\ %C(6)%ad%C(5)%d\\ %Creset%s%C(9)\\ [%an]" --decorate --no-merges
  ll = log --date=short --pretty=format:"%C(12)%h\\ %C(6)%ad%C(5)%d\\ %Creset%s%C(9)\\ [%an]" --decorate --numstat --no-merges
  lsm = log --date=short --pretty=format:"%C(12)%h\\ %C(6)%ad%C(5)%d\\ %Creset%s%C(9)\\ [%an]" --decorate
  llm = log --date=short --pretty=format:"%C(12)%h\\ %C(6)%ad%C(5)%d\\ %Creset%s%C(9)\\ [%an]" --decorate --numstat

[core]
  editor = nvim

[diff]
  tool = default-difftool

[difftool "default-difftool"]
  cmd = code --wait --new-window --diff $LOCAL $REMOTE

[fetch]
  prune = true

[checkout]
  defaultRemote = origin

[color]
  ui = true

[color "branch"]
  current = 0 5
  remote = 5
  local = 5

[color "status"]
  nobranch = 0 5
  branch = 0 5
  added = 2
  changed = 4
  untracked = 1

