#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[ui]
# color = "never"
pager = ":builtin"

[aliases]
ls = [
	"log",
	"-r",
	"""\
		@ | trunk() \
		| ancestors((remote_bookmarks() | tags()).., 2) \
		| ancestors(tracked_remote_bookmarks(), 2) \
	""",
]

[template-aliases]
'format_short_signature(signature)' = 'signature.name()'
