configuration {

	combi-modes: "drun,window";
	modes: "combi,run";
	font: "Be Vietnam Pro 16";
	terminal: "alacritty";
	combi-hide-mode-prefix: true;

	combi {
		display-name: "what? ";
	}
}
@theme "~/.config/rofi/narcissus.rasi"
